.home-wrapper {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;

  &__navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__contact {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
